* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    width: 100%;
    position: relative;
    /*left: 90px;*/
}

.ml{
    margin-left: 65px;
    background: #F0ECE4;
    height: auto;
}

.mlBook{
    margin-left: 65px;
    background: #F0ECE4;
    height: auto;
}

.col-lg-6 {
    width: 100%;
}

button,
input[type='button'] {
    cursor: pointer;
}

button:focus,
input:focus,
textarea:focus {
    outline: none;
}

input, textarea {
    border: none;
}

button {
    border: none;
    background: none;
}

img {
    height: auto;
}

p {
    margin: 0;
}

.table-responsive {
    padding-right: 1px;
}

.card {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.btn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/* ----- Typography ----- */
body {
    color: #666;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333333;
    font-weight: 700;
    margin: 0;
    line-height: 1.2;
}*/

/*h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 13px;
}

blockquote {
    margin: 0;
}

strong {
    font-weight: 700;
}*/

/*-----------------------------------------------------*/
/*                   ELEMENTS                          */
/*-----------------------------------------------------*/
/* ----- Title ----- */


.title-1 {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 30px;
}

.title-2 {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
}

.title-3 {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 24px;
    color: #333;
}

.title-3 i {
    margin-right: 13px;
    vertical-align: baseline;
}

.title-4 {
    font-weight: 500;
    font-size: 30px;
    color: #393939;
}

.title-5 {
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500;
    color: #393939;
}

.title-6 {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

.heading-title {
    font-size: 24px;
    font-weight: 500;
    color: #333;
    text-transform: capitalize;
    margin-bottom: 10px;
}

/*-----------------------------------------------------*/
/*                   COMPONENTS                        */
/*-----------------------------------------------------*/
/* ----- Buttons----- */
.au-btn {
    line-height: 45px;
    padding: 0 35px;
    text-transform: uppercase;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

.au-btn:hover {
    color: #9D6B54;
    background: #3868cd;
    border: 2px solid #9D6B54;
    border-radius: 3px;

}

.titleMB{
    padding-top: 20px;
    font-weight: bold;
    text-align: center;
    color:  #9D6B54;
    font-size: 30px;
}

.btn-router {
    color: white;
    text-decoration: none;
}

.btn-router:hover {
    color: #9D6B54;
    text-decoration: none;
}

.au-btn--blue2 {
    background: #00aced;
}

.au-btn--blue2:hover {
    background: #00a2e3;
}

.au-btn--block {
    display: block;
    width: 100%;
}

.au-btn-icon i {
    vertical-align: baseline;
    margin-right: 5px;
}

.au-btn--blue {
    background: #4272d7;
}

.au-btn--brown {
    background: #9D6B54;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: bold;

}

.au-btn--brown:hover {
    background: white;
    color: #9D6B54;
    border: 1px solid #9D6B54;
    border-radius: 3px;
    font-weight: bolder;
}

.au-btn-plus {
    position: absolute;
    height: 45px;
    width: 45px;
    background: #63c76a;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    bottom: -22.5px;
    right: 45px;
    z-index: 3;
}

.au-btn-plus i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}

.au-btn-plus:hover {
    background: #59bd60;
}

.au-btn-load {
    background: #808080;
    padding: 0 40px;
    font-size: 15px;
    color: #fff;
}

.au-btn-load:hover {
    background: #767676;
}

.au-btn-filter {
    font-size: 14px;
    color: #808080;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
    padding: 0 15px;
    line-height: 40px;
    text-transform: capitalize;
}

.au-btn-filter i {
    margin-right: 5px;
}

.au-btn--small {
    width: auto;
    padding: 0 10px;
    line-height: 30px;
    font-size: 10px;
    width: max-content;
}

.avatar-wrap {
    position: relative;
    float: left;
}

@media (max-width: 767px) {
    .avatar-wrap {
        float: none;
        display: inline-block;
        margin-bottom: 20px;
    }
}

.online .avatar::after {
    background: #63c76a;
}

.avatar {
    height: 60px;
    width: 60px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    overflow: hidden;
}

.avatar::after {
    content: '';
    display: block;
    height: 15px;
    width: 15px;
    background: #ccc;
    border: 2px solid #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.table-data {
    min-height: 100vh;
}

.table-data thead tr td {
    font-size: 10px;
    font-weight: 600;
    color: #9D6B54;
}

.table-data .table td {
    color: #9D6B54;
    border-top: none;
    border-bottom: 1px solid #f2f2f2;
    font-size: 12px;
    padding-bottom: 3px;
    vertical-align: middle;
}

.table{
    color: #9D6B54;
    vertical-align: middle;
}

.tdBtn{
    text-align: center;
}

.tableBtnAction{
    text-align: center;
    font-size: 30px;
    border: none;
    background-color: #F0ECE4;
    color: #ba9787;
}

.tableBtnAction:hover{
    color: #9D6B54;
}

.table-data .table tr td:last-child {
    padding-right: 24px;
}

.table-data tbody tr:hover td .more {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.role {
    display: inline-block;
    line-height: 30px;
    font-size: 10px;
    width: 70px;
    text-align: center;
    color: #fff;
    padding: 0 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: capitalize;
}

.role.admin {
    background: #fa4251;
}

.role.user {
    background: #00b5e9;
}

.role.member {
    background: #57b846;
}

.role.trading{
    text-align: center;
    width: 90px;
    height: 30px;
    background-color: #9d6b54;
    color: white;
    border-radius: 5px;
}

.role.complete{
    text-align: center;
    width: 90px;
    height: 30px;
    background-color: #6e4b3b;
    color: white;
    border-radius: 5px;
}

.role.cancel{
    text-align: center;
    width: 90px;
    height: 30px;
    background-color: #ca0303;
    color: white;
    border-radius: 5px;
}

.role.waiting{
    text-align: center;
    width: 90px;
    height: 30px;
    background-color: #c4a698;
    color: white;
    border-radius: 5px;
}

.role.denied{
    text-align: center;
    width: 90px;
    height: 30px;
    background-color: #ca0303;
    color: white;
    border-radius: 5px;
}

.role.approved{
    text-align: center;
    width: 90px;
    height: 30px;
    background-color: #9d6b54;
    color: white;
    border-radius: 5px;
}

.role.tradingWaiting{
    border-radius: 5px;
    width: 140px;
    background:  #c4a698;
    border: none;
}

.role.tradingStatus{
    border-radius: 5px;
    width: 140px;
    background: #9d6b54;
    border: none;
}

.role.paid{
    width: 110px;
    background: #9d6b54;
    border: none;
}

.role.notPaid{
    width: 110px;
    background: #ca0303;
    border: none;
}

.m-b-30 {
    margin-bottom: 30px;
    margin-left: 2%
}